/*
* {
    border: 1px solid red !important;
}
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#bg-black{
	background-color: black;
	color:white;
}

.bg-green{
	background-color: green;
}

.title_bar{
	opacity: 0.8;
	background-color: rgb(255, 255, 255);
	width: 100%;
	position: fixed;
	z-index: 2;
}

.login_hidden{
	display: none;
	position:fixed;
	right: 120px;
	top:50px;
}

.add_new{
	border-radius: 50%;
	background-color: green;
	position:fixed;
	bottom: 90px;
	right:90px;
}
