body {
  font-family: sans-serif;
  height:100%;
  width:100%;
  
}

[main]
{

  background-color: white;

}

[drawer]
{
  background-color: #EDFAC5;
  border-right: 1px solid #ccc; 
}

core-drawer-panel:not([narrow])#navicon
{
  display:none;


}

core-toolbar
{
  background: #073763;
  color:white;
}





#side
{
  background-image: url("http://www.businessinsider.com/image/4f3433986bb3f7b67a00003c/cute-cat.jpg");
}

#name
{

    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content
{
  width:100%;
  height:100%;
  
}

#position{
  position:fixed;
  top:500px;
  left:600px;
}

#newform
{
  position:fixed;
  top:80%;
  left:85%;
  height:50px;
  width:50px;
  color: #E01429;
}

#h
{
position:fixed;
  top:85%;
  left:90%
}

#content
{
  margin-left: 100px;
  margin-top: 50px;
  display: none;

}

#newform
{
  cursor:pointer;
  cursor: hand;
}
paper-input {
      width: 60%;
    }

    paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #0f9d58;
}

paper-input-decorator {
      width: 60%;
    }

    paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #0f9d58;
}


paper-button {
    padding:0;
  }
  paper-button::shadow .button-content {
    padding:0;
  }
  paper-button button {
    padding:1em;
    background-color: transparent;
    border-color: transparent;
  }
  paper-button button::-moz-focus-inner {
    border: 0;
  } 

  
  #content2
  {
    display:none;
  }